.wrapper {
    width: 1170px;
    margin: auto;
    padding: 40px 30px;
  }  
  .menu {
    list-style:none;
  }  
  .menu__item {
    float:left;
    margin-right: 20px;
    text-align: center;
  }
  nav{
    padding: 0 0 0 25%; 
  }
  .logo {
    text-transform: uppercase;
    float: left;
    font-family: 'Roboto', sans-serif;
  font-weight: 800;
    
  }
  .logo::first-letter {
   color: rgb(26,188,156);
  }
  .box__price::before {
    content:"$";
  }
  .box {
    width: 255px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .box:nth-of-type(4n+1){
      margin-right: 0;
  }
  .box img {
      width: 100%;
      height: auto;
  }
  .box__name {
/* width: 159px; */
font-size: 18px;
line-height: 40px;
color: rgb(255,255,255);
font-family: "Roboto",sans-serif;
font-weight: 800;
    
    
    height: 40px;
    background-color: #323232;
    color: white;
    padding-left: 15px;
  }
  .box__price {
      float: right;     
      width: calc(255px-159px);
      background-color: #8c8c8c;
      text-align: center;
      padding: 0 5px;

  }
  .clearfix::after {
      content:"";
      display: block;
      clear: both;

  }
  .heading1 {
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 48px;
    color: rgb(81,81,81);
    font-family: "Roboto";
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }
  .rectangle1 {
    width: 164px;
    height: 7px;
    background-color: #19bb9b;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }